In [12]:
import pymongo

In [17]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient['mydatabase']

In [21]:
print(myclient.list_database_names())

['admin', 'config', 'local']

In [22]:
dblist = myclient.list_database_names()
if "mydatabase" in dblist:
    print("The database exits.")

In [35]:
# create a collection called "custiomers"
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]
print(mydb.list_collection_names())

collist = mydb.list_collection_names()
if "customer" in collist:
    print("The collection exists.")

[]

In [40]:
mydict = {"name":"John","address":"Highway 37"}
x = mycol.insert_one(mydict)

In [56]:
mydict = {"name":"Peter","address":"Lowstreet 27"}
x = mycol.insert_one(mydict)
print(x.inserted_id)

mylist = [
    {"name": "Amy", "address": "Apple st 652"},
    {"name": "Hannah", "address": "Mountain 21"},
    {"name": "Michael", "address": "Valley 345"},
    {"name": "Sandy", "address": "Ocean blvd 2"},
    {"name": "Betty", "address": "Green Grass 1"},
    {"name": "Richard", "address": "Sky st 331"},
    {"name": "Susan", "address": "One way 98"},
    {"name": "Vicky", "address": "Yellow Garden 2"},
    {"name": "Ben", "address": "Park Lane 38"},
    {"name": "William", "address": "Central st 954"},
    {"name": "Chuck", "address": "Main Road 989"},
    {"name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)
print(x.inserted_ids)

637f615e0e93e43fbfb13374
[ObjectId('637f615e0e93e43fbfb13375'), ObjectId('637f615e0e93e43fbfb13376'), ObjectId('637f615e0e93e43fbfb13377'), ObjectId('637f615e0e93e43fbfb13378'), ObjectId('637f615e0e93e43fbfb13379'), ObjectId('637f615e0e93e43fbfb1337a'), ObjectId('637f615e0e93e43fbfb1337b'), ObjectId('637f615e0e93e43fbfb1337c'), ObjectId('637f615e0e93e43fbfb1337d'), ObjectId('637f615e0e93e43fbfb1337e'), ObjectId('637f615e0e93e43fbfb1337f'), ObjectId('637f615e0e93e43fbfb13380')]

In [58]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mylist = [
    {"_id": 1, "name": "John", "address": "Highway 37"},
    {"_id": 2, "name": "Peter", "address": "Lowstreet 27"},
    {"_id": 3, "name": "Amy", "address": "Apple st 652"},
    {"_id": 4, "name": "Hannah", "address": "Mountain 21"},
    {"_id": 5, "name": "Michael", "address": "Valley 345"},
    {"_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
    {"_id": 7, "name": "Betty", "address": "Green Grass 1"},
    {"_id": 8, "name": "Richard", "address": "Sky st 331"},
    {"_id": 9, "name": "Susan", "address": "One way 98"},
    {"_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
    {"_id": 11, "name": "Ben", "address": "Park Lane 38"},
    {"_id": 12, "name": "William", "address": "Central st 954"},
    {"_id": 13, "name": "Chuck", "address": "Main Road 989"},
    {"_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: mydatabase.customers index: _id_ dup key: { _id: 1 }', 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 1}, 'op': {'_id': 1, 'name': 'John', 'address': 'Highway 37'}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [69]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

x = mycol.find_one()
print(x)

#find all
for i in mycol.find():
    print(i)

{'_id': ObjectId('637f5f570e93e43fbfb13345'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('637f5f570e93e43fbfb13345'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('637f5f5a0e93e43fbfb13346'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('637f5f6f0e93e43fbfb13347'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('637f5f700e93e43fbfb13348'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('637f5fcc0e93e43fbfb13349'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('637f5fcd0e93e43fbfb1334a'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('637f60090e93e43fbfb1334b'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('637f60090e93e43fbfb1334c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('637f60090e93e43fbfb1334d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('637f60090e93e43fbfb1334e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('637f60090e93e43fbfb1334f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('637f60090e93e43fbfb13350'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('637f60090e93e43fbfb13351'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('637f60090e93e43fbfb13352'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('637f60090e93e43fbfb13353'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('637f60090e93e43fbfb13354'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('637f60090e93e43fbfb13355'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('637f60090e93e43fbfb13356'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('637f60090e93e43fbfb13357'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('637f60a60e93e43fbfb13358'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('637f60a60e93e43fbfb13359'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('637f60a60e93e43fbfb1335a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('637f60a60e93e43fbfb1335b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('637f60a60e93e43fbfb1335c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('637f60a60e93e43fbfb1335d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('637f60a60e93e43fbfb1335e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('637f60a60e93e43fbfb1335f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('637f60a60e93e43fbfb13360'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('637f60a60e93e43fbfb13361'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('637f60a60e93e43fbfb13362'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('637f60a60e93e43fbfb13363'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('637f60a60e93e43fbfb13364'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('637f60dc0e93e43fbfb13365'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('637f60dc0e93e43fbfb13366'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('637f60dc0e93e43fbfb13367'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('637f60dc0e93e43fbfb13368'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('637f60dc0e93e43fbfb13369'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('637f60dc0e93e43fbfb13370'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('637f60dc0e93e43fbfb13371'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('637f615e0e93e43fbfb13374'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('637f615e0e93e43fbfb13375'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('637f615e0e93e43fbfb13376'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('637f615e0e93e43fbfb13377'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('637f615e0e93e43fbfb13378'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('637f615e0e93e43fbfb13379'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('637f615e0e93e43fbfb1337a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('637f615e0e93e43fbfb1337b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('637f615e0e93e43fbfb1337c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('637f615e0e93e43fbfb1337d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('637f615e0e93e43fbfb1337e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('637f615e0e93e43fbfb1337f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('637f615e0e93e43fbfb13380'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [72]:
#find definite one
for x in mycol.find({},{"address":0}):
    print(x)

{'_id': ObjectId('637f5f570e93e43fbfb13345'), 'name': 'John'}
{'_id': ObjectId('637f5f5a0e93e43fbfb13346'), 'name': 'John'}
{'_id': ObjectId('637f5f6f0e93e43fbfb13347'), 'name': 'John'}
{'_id': ObjectId('637f5f700e93e43fbfb13348'), 'name': 'John'}
{'_id': ObjectId('637f5fcc0e93e43fbfb13349'), 'name': 'Peter'}
{'_id': ObjectId('637f5fcd0e93e43fbfb1334a'), 'name': 'Peter'}
{'_id': ObjectId('637f60090e93e43fbfb1334b'), 'name': 'Peter'}
{'_id': ObjectId('637f60090e93e43fbfb1334c'), 'name': 'Amy'}
{'_id': ObjectId('637f60090e93e43fbfb1334d'), 'name': 'Hannah'}
{'_id': ObjectId('637f60090e93e43fbfb1334e'), 'name': 'Michael'}
{'_id': ObjectId('637f60090e93e43fbfb1334f'), 'name': 'Sandy'}
{'_id': ObjectId('637f60090e93e43fbfb13350'), 'name': 'Betty'}
{'_id': ObjectId('637f60090e93e43fbfb13351'), 'name': 'Richard'}
{'_id': ObjectId('637f60090e93e43fbfb13352'), 'name': 'Susan'}
{'_id': ObjectId('637f60090e93e43fbfb13353'), 'name': 'Vicky'}
{'_id': ObjectId('637f60090e93e43fbfb13354'), 'name': 'Ben'}
{'_id': ObjectId('637f60090e93e43fbfb13355'), 'name': 'William'}
{'_id': ObjectId('637f60090e93e43fbfb13356'), 'name': 'Chuck'}
{'_id': ObjectId('637f60090e93e43fbfb13357'), 'name': 'Viola'}
{'_id': ObjectId('637f60a60e93e43fbfb13358'), 'name': 'Peter'}
{'_id': ObjectId('637f60a60e93e43fbfb13359'), 'name': 'Amy'}
{'_id': ObjectId('637f60a60e93e43fbfb1335a'), 'name': 'Hannah'}
{'_id': ObjectId('637f60a60e93e43fbfb1335b'), 'name': 'Michael'}
{'_id': ObjectId('637f60a60e93e43fbfb1335c'), 'name': 'Sandy'}
{'_id': ObjectId('637f60a60e93e43fbfb1335d'), 'name': 'Betty'}
{'_id': ObjectId('637f60a60e93e43fbfb1335e'), 'name': 'Richard'}
{'_id': ObjectId('637f60a60e93e43fbfb1335f'), 'name': 'Susan'}
{'_id': ObjectId('637f60a60e93e43fbfb13360'), 'name': 'Vicky'}
{'_id': ObjectId('637f60a60e93e43fbfb13361'), 'name': 'Ben'}
{'_id': ObjectId('637f60a60e93e43fbfb13362'), 'name': 'William'}
{'_id': ObjectId('637f60a60e93e43fbfb13363'), 'name': 'Chuck'}
{'_id': ObjectId('637f60a60e93e43fbfb13364'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}
{'_id': ObjectId('637f60dc0e93e43fbfb13365'), 'name': 'Peter'}
{'_id': ObjectId('637f60dc0e93e43fbfb13366'), 'name': 'Amy'}
{'_id': ObjectId('637f60dc0e93e43fbfb13367'), 'name': 'Hannah'}
{'_id': ObjectId('637f60dc0e93e43fbfb13368'), 'name': 'Michael'}
{'_id': ObjectId('637f60dc0e93e43fbfb13369'), 'name': 'Sandy'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336a'), 'name': 'Betty'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336b'), 'name': 'Richard'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336c'), 'name': 'Susan'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336d'), 'name': 'Vicky'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336e'), 'name': 'Ben'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336f'), 'name': 'William'}
{'_id': ObjectId('637f60dc0e93e43fbfb13370'), 'name': 'Chuck'}
{'_id': ObjectId('637f60dc0e93e43fbfb13371'), 'name': 'Viola'}
{'_id': ObjectId('637f615e0e93e43fbfb13374'), 'name': 'Peter'}
{'_id': ObjectId('637f615e0e93e43fbfb13375'), 'name': 'Amy'}
{'_id': ObjectId('637f615e0e93e43fbfb13376'), 'name': 'Hannah'}
{'_id': ObjectId('637f615e0e93e43fbfb13377'), 'name': 'Michael'}
{'_id': ObjectId('637f615e0e93e43fbfb13378'), 'name': 'Sandy'}
{'_id': ObjectId('637f615e0e93e43fbfb13379'), 'name': 'Betty'}
{'_id': ObjectId('637f615e0e93e43fbfb1337a'), 'name': 'Richard'}
{'_id': ObjectId('637f615e0e93e43fbfb1337b'), 'name': 'Susan'}
{'_id': ObjectId('637f615e0e93e43fbfb1337c'), 'name': 'Vicky'}
{'_id': ObjectId('637f615e0e93e43fbfb1337d'), 'name': 'Ben'}
{'_id': ObjectId('637f615e0e93e43fbfb1337e'), 'name': 'William'}
{'_id': ObjectId('637f615e0e93e43fbfb1337f'), 'name': 'Chuck'}
{'_id': ObjectId('637f615e0e93e43fbfb13380'), 'name': 'Viola'}

In [77]:
myquery = {"address":"Park Lane 38"}

mydoc = mycol.find(myquery)
for x in  mydoc:
    print(x)

myquery = {"address":{"$gt":"S"}}
mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('637f60090e93e43fbfb13354'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('637f60a60e93e43fbfb13361'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('637f615e0e93e43fbfb1337d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('637f60090e93e43fbfb1334e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('637f60090e93e43fbfb13351'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('637f60090e93e43fbfb13353'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('637f60090e93e43fbfb13357'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('637f60a60e93e43fbfb1335b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('637f60a60e93e43fbfb1335e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('637f60a60e93e43fbfb13360'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('637f60a60e93e43fbfb13364'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('637f60dc0e93e43fbfb13368'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('637f60dc0e93e43fbfb13371'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('637f615e0e93e43fbfb13377'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('637f615e0e93e43fbfb1337a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('637f615e0e93e43fbfb1337c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('637f615e0e93e43fbfb13380'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [79]:
myquery = {"address":{"$regex":"^S"}}
mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('637f60090e93e43fbfb13351'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('637f60090e93e43fbfb13357'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('637f60a60e93e43fbfb1335e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('637f60a60e93e43fbfb13364'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('637f60dc0e93e43fbfb13371'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('637f615e0e93e43fbfb1337a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('637f615e0e93e43fbfb13380'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [81]:
mydoc = mycol.find().sort("name")
for x in mydoc:
    print(x)

{'_id': ObjectId('637f60090e93e43fbfb1334c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('637f60a60e93e43fbfb13359'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('637f60dc0e93e43fbfb13366'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('637f615e0e93e43fbfb13375'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('637f60090e93e43fbfb13354'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('637f60a60e93e43fbfb13361'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('637f615e0e93e43fbfb1337d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('637f60090e93e43fbfb13350'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('637f60a60e93e43fbfb1335d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('637f615e0e93e43fbfb13379'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('637f60090e93e43fbfb13356'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('637f60a60e93e43fbfb13363'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('637f60dc0e93e43fbfb13370'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('637f615e0e93e43fbfb1337f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('637f60090e93e43fbfb1334d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('637f60a60e93e43fbfb1335a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('637f60dc0e93e43fbfb13367'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('637f615e0e93e43fbfb13376'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('637f5f570e93e43fbfb13345'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('637f5f5a0e93e43fbfb13346'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('637f5f6f0e93e43fbfb13347'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('637f5f700e93e43fbfb13348'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('637f60090e93e43fbfb1334e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('637f60a60e93e43fbfb1335b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('637f60dc0e93e43fbfb13368'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('637f615e0e93e43fbfb13377'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('637f5fcc0e93e43fbfb13349'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('637f5fcd0e93e43fbfb1334a'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('637f60090e93e43fbfb1334b'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('637f60a60e93e43fbfb13358'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('637f60dc0e93e43fbfb13365'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('637f615e0e93e43fbfb13374'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('637f60090e93e43fbfb13351'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('637f60a60e93e43fbfb1335e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('637f615e0e93e43fbfb1337a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('637f60090e93e43fbfb1334f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('637f60a60e93e43fbfb1335c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('637f60dc0e93e43fbfb13369'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('637f615e0e93e43fbfb13378'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('637f60090e93e43fbfb13352'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('637f60a60e93e43fbfb1335f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('637f615e0e93e43fbfb1337b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('637f60090e93e43fbfb13353'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('637f60a60e93e43fbfb13360'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('637f615e0e93e43fbfb1337c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('637f60090e93e43fbfb13357'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('637f60a60e93e43fbfb13364'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('637f60dc0e93e43fbfb13371'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('637f615e0e93e43fbfb13380'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('637f60090e93e43fbfb13355'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('637f60a60e93e43fbfb13362'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('637f615e0e93e43fbfb1337e'), 'name': 'William', 'address': 'Central st 954'}

In [82]:
mydoc = mycol.find().sort("name",-1)
for x in mydoc:
    print(x)

{'_id': ObjectId('637f60090e93e43fbfb13355'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('637f60a60e93e43fbfb13362'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('637f615e0e93e43fbfb1337e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('637f60090e93e43fbfb13357'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('637f60a60e93e43fbfb13364'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('637f60dc0e93e43fbfb13371'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('637f615e0e93e43fbfb13380'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('637f60090e93e43fbfb13353'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('637f60a60e93e43fbfb13360'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('637f615e0e93e43fbfb1337c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('637f60090e93e43fbfb13352'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('637f60a60e93e43fbfb1335f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('637f615e0e93e43fbfb1337b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('637f60090e93e43fbfb1334f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('637f60a60e93e43fbfb1335c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('637f60dc0e93e43fbfb13369'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('637f615e0e93e43fbfb13378'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('637f60090e93e43fbfb13351'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('637f60a60e93e43fbfb1335e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('637f615e0e93e43fbfb1337a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('637f5fcc0e93e43fbfb13349'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('637f5fcd0e93e43fbfb1334a'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('637f60090e93e43fbfb1334b'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('637f60a60e93e43fbfb13358'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('637f60dc0e93e43fbfb13365'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('637f615e0e93e43fbfb13374'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('637f60090e93e43fbfb1334e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('637f60a60e93e43fbfb1335b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('637f60dc0e93e43fbfb13368'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('637f615e0e93e43fbfb13377'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('637f5f570e93e43fbfb13345'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('637f5f5a0e93e43fbfb13346'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('637f5f6f0e93e43fbfb13347'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('637f5f700e93e43fbfb13348'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('637f60090e93e43fbfb1334d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('637f60a60e93e43fbfb1335a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('637f60dc0e93e43fbfb13367'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('637f615e0e93e43fbfb13376'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('637f60090e93e43fbfb13356'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('637f60a60e93e43fbfb13363'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('637f60dc0e93e43fbfb13370'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('637f615e0e93e43fbfb1337f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('637f60090e93e43fbfb13350'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('637f60a60e93e43fbfb1335d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('637f615e0e93e43fbfb13379'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('637f60090e93e43fbfb13354'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('637f60a60e93e43fbfb13361'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('637f60dc0e93e43fbfb1336e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('637f615e0e93e43fbfb1337d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('637f60090e93e43fbfb1334c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('637f60a60e93e43fbfb13359'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('637f60dc0e93e43fbfb13366'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('637f615e0e93e43fbfb13375'), 'name': 'Amy', 'address': 'Apple st 652'}